{% block title %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"/>
{%endblock%}
{% block body %}
    <div class="container">
       <p> merci de recevoir votre email :)</p> </br>
        pas grand chose à dire suf que vauillez appuyez sur ce lien : <a href="{{ url('base') }}">Acueil</a>

    </div>
{% endblock %}
